<!-- MADLIB SHOW PAGE -->
<div align="center" class="page-header">
  <h1 class="title">
    <%= @madlib.song.name %> - Madlibbed 
  </h1>
  <h2>
    <%= link_to('Edit', edit_song_madlib_path(@song, @madlib)) %>
  </h2>
</div>
<div align="center" class="container-fluid">
  <div class="well lyrics">
  <%= simple_format(@new_lyrics) %>
  </div>
</div>
