<div align="center" class="jumbotron snowing">
  <h1 align="center" class="main-title">Christmas Classics Madlibs</h1>
</div>
<br>
  
<table align="center" class="table table-hover">
  <thead></thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td align="center" class="song-table">
          <%= link_to(song.name, song_path(song)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
