<h2>Songs Index</h2>

<h3><%#= link_to('New Madlib', new_madlib_path) %></h3>

<ul>
  <%= @songs.each do |song| %>
    <li>
      <%= link_to(song.name, song_path(song)) %>
    </li>
  <% end %>
</ul>