<!-- SONG SHOW PAGE -->
<h2 align="center" class="jumbotron">
  <%= @song.name %>
</h2>

<div align="center" class="well">
  <h3>Original Lyrics</h3>
  <%= simple_format(@original_lines) %>
</div>

<div>
  <h3>Madlib Words</h3>  
  <% if @song.lyrics.any? %>
    <% @song.lyrics.each do |lyric| %>
    <%= "#{lyric.word} | " %>
    <% end %>
  <% end %>
</div>