ul {
  list-style-type: none; /* remove list bullets */
}

a:hover {
  color: navy;
}

.main-title {
  font-size: 1.2em;
}

.madlib-title {
  font-weight: bold;
  font-size: 0.8em;
}

.lyrics {
  font-size: 2em;
}

.original-lyrics {
  font-style: italic;
  font-size: 1.2em;
}

.song-table {
  font-size: 2em;
}

.highlighted {
  color: #fff;
  background-color: #444;
  padding: 0 .5em;
}

.add-another {
  font-size: 1rem;
  cursor: pointer;
  text-align: right;
  text-decoration: underline;
}

.navbar .navbar-default {
  background-color: green;
}

.jumbotron.snowing {
  background-image: image-url("snowing.gif");
  background-size: cover;
  color: #ff0a0e;
  text-shadow: -2px 0 #fffafa, 0 2px #fffafa, 2px 0 #fffafa, 0 -2px #fffafa;
}

.jumbotron.lights {
  background-color: green;
  background-image: none;
  position: relative;
  color: #ff0a0e;
  text-shadow: -2px 0 #fffafa, 0 2px #fffafa, 2px 0 #fffafa, 0 -2px #fffafa;
}

.elf {
  background-color: none;
  background-image: image-url("elf-head2.gif");
  background-size: cover;
  position: relative;
  // height: 160px;
  // background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  
}

.elf .container-fluid span#behind {
  font-size: 1.8em;
  color: red;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
  z-index: -1;
  position: relative;
}

.navbar { margin-bottom:0px;}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}