ul {
  list-style-type: none; /* remove list bullets */
}

a:hover {
  color: navy;
}

.title {
  font-weight: bold;
}

.lyrics {
  font-size: 2em;
}

.original-lyrics {
  font-style: italic;
  font-size: 1.2em;
}

.song-table {
  font-size: 2em;
}

